# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*

# Project folders (if this is a monorepo)
backend/node_modules/
frontend/node_modules/
ORANZA/node_modules/

# Build output
backend/dist/
frontend/dist/
ORANZA/dist/

